<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP FORM</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>RSVP Form</h1>
    <form method="POST", class="contact__form" action="#">
    <img src="{{ url_for('static', filename='hori_logo.jpeg') }}"
     alt="MenXcel Program Flier"
     class="form-image">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{form.hidden_tag()}}
    {{form.name.label()}}
    {{form.name()}}
    {{form.email.label()}}
    {{form.email()}}
    {{form.phone.label()}}
    {{form.phone()}}
    {{form.attend.label()}}
    {{form.attend()}}
    {{form.member.label()}}
    {{form.member()}}
    {{form.message.label()}}
    {{form.message()}}
    {{form.submit()}}
    </form>
    </div>
</body>
</html>